Repository streamr-dev/monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: test, ci, docs, broker, network, client, protocol, test-utils, cli-tools, dev-config

.github/labeler.yml:

---
test:
  - '*test*'
ci:
  - '.github/*'
  - '.github/**/*'
docs:
  - '**.md'
  - '*.md'
broker:
  - 'packages/broker/*'
  - 'packages/broker/**/*'
  - '.github/workflows/broker.yml'
network:
  - 'packages/network/*'
  - 'packages/network/**/*'
  - '.github/workflows/network.yml'
client:
  - 'packages/client/*'
  - 'packages/client/**/*'
  - '.github/workflows/client-build.yml'
  - '.github/workflows/client-code.yml'
protocol:
  - 'packages/protocol/*'
  - 'packages/protocol/**/*'
  - '.github/workflows/protocol.yml'
test-utils:
  - 'packages/test-utils/*'
  - 'packages/test-utils/**/*'
  - '.github/workflows/test-utils.yml'
cli-tools:
  - 'packages/cli-tools/*'
  - 'packages/cli-tools/**/*'
dev-config:
  - 'packages/dev-config/*'

build(rollup): Migrate to rollup (in progress)
  packages/autocertifier-client/tsconfig.jest.json
  packages/autocertifier-client/tsconfig.node.json
  packages/autocertifier-server/tsconfig.jest.json
  packages/autocertifier-server/tsconfig.node.json
  packages/cdn-location/tsconfig.jest.json
  packages/cdn-location/tsconfig.node.json
  packages/cli-tools/tsconfig.node.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
  packages/geoip-location/tsconfig.jest.json
  packages/geoip-location/tsconfig.node.json
  packages/node/tsconfig.jest.json
  packages/node/tsconfig.node.json
  packages/proto-rpc/tsconfig.jest.json
  packages/proto-rpc/tsconfig.node.json
  packages/test-utils/tsconfig.jest.json
  packages/test-utils/tsconfig.node.json
  packages/utils/.npmignore
  packages/utils/package.json
  packages/utils/rollup.config.mjs
  packages/utils/src/Defer.ts
  packages/utils/src/Logger.ts
  packages/utils/src/TheGraphClient.ts
  packages/utils/src/browser/Logger.ts
  packages/utils/src/exports.ts
  packages/utils/src/types.ts
  packages/utils/src/waitForCondition.ts
  packages/utils/tsconfig.browser.json
  packages/utils/tsconfig.jest.json
  packages/utils/tsconfig.json
  packages/utils/tsconfig.node.json
Labels: test-utils, cli-tools

build(rollup): Build `browser-test-runner` using rollup
  package-lock.json
  packages/browser-test-runner/package.json
  packages/browser-test-runner/rollup.config.mjs
  packages/browser-test-runner/src/createKarmaConfig.ts
  packages/browser-test-runner/tsconfig.node.json
Labels: none

build(rollup): Keep utils "untyped"
  packages/utils/package.json
Labels: none

build(rollup): Build `test-utils` using rollup & tsc
  package-lock.json
  packages/test-utils/customMatcherTypes.d.ts
  packages/test-utils/package.json
  packages/test-utils/rollup.config.mjs
  packages/test-utils/setupCustomMatchers.js
  packages/test-utils/src/customMatcherTypes.ts
  packages/test-utils/tsconfig.node.json
Labels: test-utils

build(rollup): Unref test-utils
  packages/autocertifier-client/tsconfig.jest.json
  packages/autocertifier-client/tsconfig.node.json
  packages/autocertifier-server/tsconfig.jest.json
  packages/autocertifier-server/tsconfig.node.json
  packages/cdn-location/tsconfig.jest.json
  packages/cdn-location/tsconfig.node.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
  packages/node/tsconfig.jest.json
  packages/node/tsconfig.node.json
  packages/proto-rpc/tsconfig.jest.json
  packages/proto-rpc/tsconfig.node.json
  packages/sdk/tsconfig.browser.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
Labels: none

build(rollup): Tweak configs, prettier, small touches
  .prettierrc
  .prettierrc.json
  packages/geoip-location/tsconfig.node.json
Labels: none

wip
  package-lock.json
  package.json
  packages/browser-test-runner/.npmignore
  packages/browser-test-runner/package.json
  packages/browser-test-runner/rollup.config.mjs
  packages/browser-test-runner/tsconfig.declarations.json
  packages/browser-test-runner/tsconfig.json
  packages/test-utils/package.json
  packages/test-utils/tsconfig.json
  packages/utils/src/executeSafePromise.ts
  packages/utils/tsconfig.json
  tsconfig.json
Labels: test-utils

Simplify rollup config for utils
  package-lock.json
  packages/browser-test-runner/.npmignore
  packages/browser-test-runner/package.json
  packages/browser-test-runner/rollup.config.mjs
  packages/browser-test-runner/tsconfig.declarations.json
  packages/browser-test-runner/tsconfig.json
  packages/utils/.npmignore
  packages/utils/package.json
  packages/utils/rollup.config.mjs
  packages/utils/tsconfig.json
Labels: none

Separate build and dist - in progress
  package-lock.json
  package.json
  packages/browser-test-runner/.gitignore
  packages/browser-test-runner/.npmignore
  packages/browser-test-runner/package.json
  packages/browser-test-runner/rollup.config.mjs
  packages/browser-test-runner/tsconfig.json
  packages/browser-test-runner/tsconfig.node.json
  packages/geoip-location/.gitignore
  packages/geoip-location/package.json
  packages/geoip-location/rollup.config.mjs
  packages/geoip-location/scripts/rewrite-package.ts
  packages/geoip-location/src/downloadGeoIpDatabase.ts
  packages/geoip-location/src/tarHelper.ts
  packages/geoip-location/tsconfig.browser.json
  packages/geoip-location/tsconfig.dist.json
  packages/geoip-location/tsconfig.jest.json
  packages/geoip-location/tsconfig.json
  packages/geoip-location/tsconfig.node.json
  packages/test-utils/.gitignore
  packages/test-utils/.npmignore
  packages/test-utils/package.json
  packages/test-utils/rollup.config.mjs
  packages/test-utils/scripts/rewrite-package.ts
  packages/test-utils/tsconfig.dist.json
  packages/test-utils/tsconfig.jest.json
  packages/test-utils/tsconfig.json
  packages/test-utils/tsconfig.node.json
  packages/utils/.gitignore
  packages/utils/package.json
  packages/utils/rollup.config.mjs
  packages/utils/scripts/rewrite-package.ts
  packages/utils/tsconfig.dist.json
  packages/utils/tsconfig.json
Labels: test-utils

Copy READMEs and LICENSEs
  package-lock.json
  packages/geoip-location/package.json
  packages/test-utils/package.json
  packages/test-utils/rollup.config.mjs
  packages/utils/package.json
  packages/utils/rollup.config.mjs
Labels: test-utils

Continue the migration
  package-lock.json
  packages/cdn-location/.gitignore
  packages/cdn-location/package.json
  packages/cdn-location/rollup.config.mjs
  packages/cdn-location/scripts/rewrite-package.ts
  packages/cdn-location/src/getLocalRegion.ts
  packages/cdn-location/tsconfig.browser.json
  packages/cdn-location/tsconfig.dist.json
  packages/cdn-location/tsconfig.json
  packages/cdn-location/tsconfig.node.json
  packages/geoip-location/package.json
  packages/proto-rpc/.gitignore
  packages/proto-rpc/package.json
  packages/proto-rpc/rollup.config.mjs
  packages/proto-rpc/scripts/rewrite-package.ts
  packages/proto-rpc/src/types/textencoding.d.ts
  packages/proto-rpc/tsconfig.dist.json
  packages/proto-rpc/tsconfig.json
  tsconfig.json
Labels: none

Prep both cjs and esm dht builds
  package-lock.json
  packages/autocertifier-client/.gitignore
  packages/autocertifier-client/package.json
  packages/autocertifier-client/rollup.config.mjs
  packages/autocertifier-client/scripts/rewrite-package.ts
  packages/autocertifier-client/tsconfig.dist.json
  packages/autocertifier-client/tsconfig.json
  packages/autocertifier-server/.gitignore
  packages/autocertifier-server/tsconfig.browser.json
  packages/autocertifier-server/tsconfig.json
  packages/dht/.gitignore
  packages/dht/package.json
  packages/dht/rollup.config.mjs
  packages/dht/scripts/rewrite-package.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/connectivityChecker.ts
  packages/dht/src/connection/connectivityRequestHandler.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/src/types/textencoding.d.ts
  packages/dht/tsconfig.dist.json
  packages/dht/tsconfig.json
  tsconfig.json
Labels: none

Build with tsc – in progress
  package-lock.json
  package.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/autocertifier-server/tsconfig.base.json
  packages/autocertifier-server/tsconfig.cjs.json
  packages/autocertifier-server/tsconfig.esm.json
  packages/autocertifier-server/tsconfig.json
  packages/browser-test-runner/package.json
  packages/cdn-location/package.json
  packages/dht/package.json
  packages/dht/rollup.config.mjs
  packages/dht/scripts/rewrite-package.ts
  packages/dht/tsconfig.base.json
  packages/dht/tsconfig.browser.json
  packages/dht/tsconfig.cjs.json
  packages/dht/tsconfig.dist.json
  packages/dht/tsconfig.esm.json
  packages/dht/tsconfig.json
  packages/dht/tsconfig.node.json
  packages/geoip-location/package.json
  packages/proto-rpc/package.json
  packages/test-utils/package.json
  packages/utils/package.json
  tsconfig.json
Labels: test-utils

refactor(trackerless-network): cjs & esm
  package-lock.json
  packages/trackerless-network/package.json
  packages/trackerless-network/scripts/rewrite-package.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/proxy/ProxyConnectionRpcLocal.ts
  packages/trackerless-network/tsconfig.base.json
  packages/trackerless-network/tsconfig.browser.json
  packages/trackerless-network/tsconfig.cjs.json
  packages/trackerless-network/tsconfig.esm.json
  packages/trackerless-network/tsconfig.json
  packages/trackerless-network/tsconfig.node.json
Labels: none

refactor(sdk): cjs & esm done right
  package-lock.json
  packages/sdk/.babel.browser.config.js
  packages/sdk/.gitignore
  packages/sdk/bin/generate-config-validator.cjs
  packages/sdk/copy-package.js
  packages/sdk/copy-package.sh
  packages/sdk/eslint.config.mjs
  packages/sdk/fix-esm.sh
  packages/sdk/package.json
  packages/sdk/scripts/postbuild.sh
  packages/sdk/scripts/rewrite-package.ts
  packages/sdk/src/contracts/contract.ts
  packages/sdk/src/exports-browser.ts
  packages/sdk/src/exports-commonjs.js
  packages/sdk/src/exports-esm.mjs
  packages/sdk/src/exports.ts
  packages/sdk/src/protocol/StreamMessageTranslator.ts
  packages/sdk/src/utils/GeneratorUtils.ts
  packages/sdk/src/utils/caches.ts
  packages/sdk/src/utils/promises.ts
  packages/sdk/src/utils/utils.ts
  packages/sdk/tsconfig.base.json
  packages/sdk/tsconfig.browser.json
  packages/sdk/tsconfig.cjs.json
  packages/sdk/tsconfig.esm.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.json
  packages/sdk/tsconfig.node.json
  packages/sdk/vendor-hack.sh
  packages/sdk/webpack.config.js
  tsconfig.json
Labels: none

Add more dev packages explicitly
  package-lock.json
  packages/autocertifier-server/package.json
  packages/browser-test-runner/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: test-utils, cli-tools

refactor: update root scripts
  package.json
Labels: none

Update lerna
  lerna.json
  package-lock.json
  package.json
Labels: none

v102.0.0-xi.0
  lerna.json
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/browser-test-runner/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: test-utils, cli-tools

Extend prettier settings; adjust eslint
  .prettierrc
  .prettierrc.json
  eslint.config.mjs
Labels: none

Convert jest config files to ts
  jest.config.js
  jest.config.ts
  packages/autocertifier-server/jest.config.js
  packages/autocertifier-server/jest.config.ts
  packages/cdn-location/jest.config.js
  packages/cdn-location/jest.config.ts
  packages/cli-tools/jest.config.js
  packages/cli-tools/jest.config.ts
  packages/cli-tools/jest.teardown.js
  packages/cli-tools/jest.teardown.ts
  packages/dht/jest.config.js
  packages/dht/jest.config.ts
  packages/geoip-location/jest.config.js
  packages/geoip-location/jest.config.ts
  packages/node/jest.config.js
  packages/node/jest.config.ts
  packages/node/jest.teardown.js
  packages/node/jest.teardown.ts
  packages/proto-rpc/jest.config.js
  packages/proto-rpc/jest.config.ts
  packages/sdk/jest.config.js
  packages/sdk/jest.config.ts
  packages/sdk/jest.setup.js
  packages/sdk/jest.setup.ts
  packages/sdk/jest.teardown.ts
  packages/test-utils/jest.config.js
  packages/test-utils/jest.config.ts
  packages/trackerless-network/jest.config.js
  packages/trackerless-network/jest.config.ts
  packages/utils/jest.config.js
  packages/utils/jest.config.ts
Labels: test-utils, cli-tools

Make `trackerless-network` build without warnings #proto
  packages/trackerless-network/protos/NetworkRpc.proto
Labels: none

Explicitly use default ts-jest preset
  jest.config.ts
Labels: none

Point to tsconfig.jest.json
  jest.config.ts
Labels: none

fix typos
  packages/cli-tools/bin/streamr-internal.ts
Labels: cli-tools

use getTestTokenContract() from _operatorContractUtils
  packages/cli-tools/bin/streamr-internal-operator-delegate.ts
  packages/cli-tools/bin/streamr-internal-operator-stake.ts
  packages/cli-tools/bin/streamr-internal-operator-unstake.ts
  packages/cli-tools/bin/streamr-internal-sponsorship-sponsor.ts
Labels: cli-tools

use full token amount instead of a wei amount
  packages/cli-tools/bin/streamr-internal-operator-delegate.ts
  packages/cli-tools/bin/streamr-internal-operator-stake.ts
  packages/cli-tools/bin/streamr-internal-operator-undelegate.ts
  packages/cli-tools/bin/streamr-internal-sponsorship-sponsor.ts
Labels: cli-tools

unit test
  packages/cli-tools/test/internal-sponsorship-sponsor.test.ts
Labels: cli-tools

eslint
  packages/cli-tools/bin/streamr-internal-operator-delegate.ts
  packages/cli-tools/bin/streamr-internal-operator-stake.ts
  packages/cli-tools/bin/streamr-internal-operator-undelegate.ts
  packages/cli-tools/bin/streamr-internal-operator-unstake.ts
  packages/cli-tools/bin/streamr-internal-sponsorship-sponsor.ts
  packages/cli-tools/test/internal-sponsorship-sponsor.test.ts
Labels: cli-tools

use SignerWithProvider
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: none

update SetupOperatorContractReturnType#operatorWallet type
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: none

eslint
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: none

add await
  packages/cli-tools/bin/streamr-internal-operator-stake.ts
  packages/cli-tools/bin/streamr-internal-operator-unstake.ts
Labels: cli-tools

fix unstake() call
  packages/cli-tools/bin/streamr-internal-operator-undelegate.ts
Labels: cli-tools

unit test draft (fails because the undelegation happens too soon)
  packages/cli-tools/test/internal-operator.test.ts
Labels: cli-tools

upgrade to v32
  package-lock.json
  packages/browser-test-runner/package.json
Labels: none

upgrade to v33
  package-lock.json
  packages/browser-test-runner/package.json
Labels: none

upgrade to v34
  package-lock.json
  packages/browser-test-runner/package.json
Labels: none

set electron sandbox permissions
  .github/workflows/test-setup.yml
Labels: ci

debug show-versions
  show-versions.mjs
Labels: none
